.login-page {
    .#{$prefix}form-trigger-wrap {
        height: 20px;
        width: 134px;
    }

    .left-cont {
        background: linear-gradient(-45deg, #b2d2f7, #ffa6a6, #aecdf6, #90f8e0);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .login-form {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 20px;
    }

    .form-cls-light {
        .x-panel-body-default,.x-form-item-label-default, .x-form-text-default{
            background-color: #fff;
            color: black;
            border: 0px;
        }
    }

    .#{$prefix}form-item-label-default {
        font-size: 12px;
    }

    .#{$prefix}form-cb-label-default {
        font-size: 13px;
        color: black;
    }

    .login-btn {
        background-color: #d9d9d9;
        .#{$prefix}btn-inner-default-small {
            font-size: 14px;
        }
    }

    .center-text {
        text-align: center;
    }

    .welcome-message {
        font-size: 45px;
        color: #333;
    }

    .sub-text {
        font-size: 20px;
        color: #666;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
